.card {
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
}

.sm {
  padding: var(--spacing-sm);
}

.md {
  padding: var(--spacing-md);
}

.lg {
  padding: var(--spacing-lg);
}

.shadow {
  box-shadow: var(--shadow-elevation-1);
}
