.icon {
  font-family: "Material Symbols Rounded", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
